{% extends "pkg_base.html" %}

{% load widget_tweaks %}

{% block actiontitle %}{{ repo.name }}{% endblock %}
{% block subtitle%}Upload new package{% endblock %}

{% block helptext %}
Select a RPM package for uploading into the current repository.
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <fieldset>
            <legend>General Settings</legend>
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label}}{% if field.errors%}: {{field.errors}}{% endif %}</label>
                    {{ field|add_class:"form-control" }}
                </div>
            {% endfor %}
        </fieldset>

        <div class="actions">
            <input class="btn primary" type="submit" value="Upload">
                <a href="{% url "rpm.views.repository_view" repo.id %}" class="btn">Cancel</a>
        </div>
    </form>
{% endblock %}