{% extends "pkg_base.html" %}

{% block actiontitle %}{{ repo.name }}{% endblock %}
{% block subtitle%}Upload new package{% endblock %}

{% block helptext %}
Make sure to keep a copy of the file if you still need it.
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST" style="display: inline;">
            {% csrf_token %}
            <p>Do you really want to delete the package <em>{{ pkg.name }}</em>?</p>
            <input class="btn primary" type="submit" value="Yes" />
        </form>
        <form method="GET" action="{% url myyum.rpm.views.repository_view repo.id %}" style="display: inline;">
            <input class="btn" type="submit" value="No"/>
        </form>
    </p>
{% endblock %}