{% extends "base.html" %}

{% block actiontitle %}{{ repo.name }}{% endblock %}
{% block subtitle%}Delete repository{% endblock %}

{% block helptext %}
Make sure to keep a copy of the files in this repository if you still need it.
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST" style="display: inline;">
            {% csrf_token %}
            <p>Do you really want to delete the repository <em>{{ repo.name }}</em>?</p>
            <input class="btn primary" type="submit" value="Yes" />
        </form>
        <a href="{% url "myyum.rpm.views.repository_view" repo.id %}" class="btn">Cancel</a>
    </p>
{% endblock %}