{% extends "base.html" %}

{% block actiontitle %}Your Repositories{% endblock %}
{% block subtitle%}Create new repository{% endblock %}

{% block helptext %}
Supply the name for your repository. It will be created in your own
namespace and therefore needs only to be unique in your repositories not
everyones.
{% endblock %}

{% block content %}
    {{ block.super }}

	<form method="post">
		{% csrf_token %}
		
		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
				<div class="alert-message error">
					<p>{{ error }}</p>
				</div>
			{% endfor %}
		{% endif %}
		
		<fieldset>
			<legend>General Settings</legend>
			{% for field in form %}
				<div class="clearfix {% if field.errors %}error{% endif %}">
					<label for="subject">{{ field.label }}</label>
					<div class="input">
						{{ field }}
						{% if field.errors %}
							<span class="help-inline">{% for error in field.errors %}{{ error }}{% endfor %}</span>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</fieldset>
		
		<div class="actions">
			<input class="btn primary" type="submit" value="Create Repository">
			<button class="btn" type="reset">Cancel</button>
		</div>
	</form>
{% endblock %}