{% extends "base.html" %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-sortable.css">
    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-sortable.js"></script>
{% endblock %}

{% block actions %}
    <a href="{% url "rpm.views.package_upload" repo.id %}">Upload new package</a><br/><br/>
    <a href="{% url "rpm.views.repository_config" repo.id %}">Repository config file</a><br/>
    <a href="{% url "rpm.views.repository_edit" repo.id %}">Edit this repository</a><br/>
    <a href="{% url "rpm.views.repository_delete" repo.id %}">Delete this repository</a>
    <br/><br/>
    <a href="{% url "rpm.views.repository_index" %}">Return to overview</a>
{% endblock %}

{% block actiontitle %}{{ repo.name }}{% endblock %}
{% block subtitle %}{{ repo.description }}{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="welcome">
        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">Name</th>
                    <th>Summary</th>
                    <th>Version</th>
                    <td></td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% if repo.packages.all %}
                    {% for pkg in repo.packages.all %}
                        <tr>
                            <td><a href="{% url "rpm.views.package_view" repo.id pkg.id %}">{{ pkg.name }}</a></td>
                            <td>{{ pkg.summary }}</td>
                            <td>{{ pkg.version_string }}</td>
                            <td></td>
                            <td class="">
                                <a href="{% url "rpm.views.package_delete" repo.id pkg.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan=5>No packages uploaded yet</td>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}