{% extends "base.html" %}

{% load widget_tweaks %}

{% block actions %}
    <br/><br/>
    <a href="{% url "myyum.rpm.views.repository_view" repo.id %}">Return to repository</a>
{% endblock %}

{% block actiontitle %}{{ repo.name }}{% endblock %}
{% block subtitle%}Edit repository{% endblock %}

{% block helptext %}
When changing the name of your repository, make sure to update all servers, that use it.
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <fieldset>
            <legend>General Settings</legend>
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label}}{% if field.errors%}: {{field.errors}}{% endif %}</label>
                    {{ field|add_class:"form-control" }}
                </div>
            {% endfor %}
        </fieldset>

        <div class="actions">
            <input class="btn primary" type="submit" value="Save Changes">
            <a href="{% url "myyum.rpm.views.repository_index" %}" class="btn">Cancel</a>
        </div>
    </form>
{% endblock %}