{% extends "base.html" %}

{% block actions %}
    <a href="{% url "rpm.views.repository_create" %}">Create new repository</a>
{% endblock %}

{% block actiontitle %}Your Repositories{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="welcome">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Package #</th>
                    <th></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if repos %}
                    {% for repo in repos %}
                    <tr>
                        <td><a href="{% url "rpm.views.repository_view" repo.id %}">{{ repo.name }}</a></td>
                        <td>{{ repo.description }}</td>
                        <td>{{ repo.packages.all|length }}</td>
                        <td></td>
                        <td>
                            <a href="{% url "rpm.views.repository_edit" repo.id %}">Edit</a>&nbsp;&middot;
                            <a href="{% url "rpm.views.repository_delete" repo.id %}">Delete</a>&nbsp;&middot;
                            <a href="{{ repo.metadata_url }}">Metadata URL</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan=4>No repositories created yet</td>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}