{% extends "base.html" %}

{% load widget_tweaks %}

{% block actiontitle %}Your Repositories{% endblock %}
{% block subtitle%}Create new repository{% endblock %}

{% block helptext %}
Supply the name for your repository. It will be created in your own
namespace and therefore needs only to be unique in your repositories not
everyones.
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <fieldset>
            <legend>General Settings</legend>
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label}}{% if field.errors%}: {{field.errors}}{% endif %}</label>
                    {{ field|add_class:"form-control" }}
                </div>
            {% endfor %}
        </fieldset>

        <div class="actions">
            <input class="btn primary" type="submit" value="Create Repository">
            <a href="{% url "rpm.views.repository_index" %}" class="btn">Cancel</a>
        </div>
    </form>
{% endblock %}